<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Settings ..</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
          <link rel="icon" href="/images/favicon.png" type="image/png">
                <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
</head>
<style>
   
    a{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }      
 
    div{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    h5{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    h4:hover{
cursor: pointer;
font-size: larger;
    }

</style>
<body>

    <nav class="navbar bg-danger mb-4" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">About_time</a>
        <a class="navbar-brand text-white" href="home">Back ←</a>

  </div>
</nav>


<h4 class="text-danger text-center mb-5">Logged in as : <%= user.name %> (<%= user.email %>)</h5>



    <div class="container">
<div class="card mb-5 w-50 bg-dark text-white">
 
  <div class="card-body">
    <h5 class="card-title">Edit your username</h5>
    <p class="card-text">Change your About_time Username ....</p>
<a href="#" 
   class="btn btn-danger btn-sm" 
   data-bs-toggle="modal" 
   data-bs-target="#customModal1">
Edit Username</a>
  </div>
</div>

<div class="card mb-5 w-50 bg-dark text-white">

  <div class="card-body">
    <h5 class="card-title">Delete your account</h5>
    <p class="card-text">Delete your About_time Account ....</p>
<a href="#" 
   class="btn btn-danger btn-sm" 
   data-bs-toggle="modal" 
   data-bs-target="#customModal2">
Delete Account</a>
  </div>
</div>

<div class="card w-50 bg-dark text-white">
 
  <div class="card-body">
    <h5 class="card-title">Logout</h5>
    <p class="card-text">Sign-Out of this account ...</p>
<a href="#" 
   class="btn btn-danger btn-sm" 
   data-bs-toggle="modal" 
   data-bs-target="#customModal3">
Logout</a>
  </div>
</div>
    </div>




<div class="modal fade" id="customModal1" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="customModalLabel">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <p>Confirm to Change Username.</p>
        <form action="/update" method="post">
            <input type="text" name="newName" placeholder="Enter new username" required class="form-control mb-2">
            <button type="submit" class="btn btn-danger">Save</button>
        </form>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="customModal2" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="customModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <p>Are you sure you want to delete this account?</p>
        <form action="/delete" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back ←</button>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="customModal3" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="customModalLabel">Sign-Out</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <p>Are you sure you want to log out?</p>
      </div>
      
      <div class="modal-footer">
        <a href="/logout" class="btn btn-danger">Confirm</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back ←</button>
      </div>
      
    </div>
  </div>
</div>


</body>
</html>